textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 10px solid #ccc;
    transition: border-color 0.2s ease-in-out;
    resize:none;
  }
  
  textarea:focus {
    border-color: #2B3C53;
  }
  
  button {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: #2B3C53;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  p {
    font-size: 3em;
    line-height: 1.5;
  }
  